<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/inicio-de-sesion.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="inicio-de-sesion">
      <img class="hero-icon1" alt="" src="../public/hero@2x.png" />

      <div class="inicio-de-sesion-child"></div>
      <a href="#" id="btn_back"><img class="weuiback-filled-icon5" loading="lazy" alt="" src="../public/back_white.svg"/></a>

      <div class="inicio-de-sesion-inner">
        <div class="bienvenido-a-telemedicina-group">
          <h1 class="bienvenido-a-telemedicina2">
            ¡Bienvenido a Telemedicina!
          </h1>
          <div class="frame-parent12">
            <div class="frame-wrapper4">
              <div class="crea-una-cuenta-y-disfruta-de-group">
                <div class="crea-una-cuenta2">
                  Crea una cuenta y disfruta de tus beneficios y de la mejores
                  servicios que tenemos para tí.
                </div>
                <div class="telemedicina-container">
                    <img src="../public/logo blanco-G.png" alt="Icono" id="logo" style="transform: translateY(-50%);">
                </div>
              </div>
            </div>
            <div class="registro2">
              <div class="registrate-container">
                <h1 class="registrate2">Inicia sesion</h1>
              </div>
              <div class="input-fields">
                <div class="input-login">
                  <img src="../public/icons/Vector-4.svg" alt="Icono" class="input-icon">
                  <input class="inp_inicio" type="text" id="inp_nombre" placeholder="Nombre">
                </div>

                <div class="input-login">
                  <img src="../public/icons/Vector-1.svg" alt="Icono" class="input-icon">
                  <input class="inp_inicio" type="text" id="inp_password" placeholder="Contraseña">
                </div>

                <div class="frame-parent13" style="width:100%;">
                  <div class="by-mars-by-ghc-on-jun-parent">
                    <input class="by-mars-by-ghc-on-jun1" type="checkbox" id="check_terminos" name="term_condicion"/>
                    <label class="acepto-los-trminos2" for="check_terminos">Acepto los términos y condiciones</label>
                  </div>
                  <div class="text-wrapper">
                    <div class="text"></div>
                  </div>
                </div>
              </div>
              <button class="buttonprimary10 title37" id="btn_inicio">Iniciar sesión
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $("#btn_back").on("click", function(){
        window.location.href = "landing-page.html";
    });

    $("#btn_inicio").on("click", function(){
      if($("#inp_nombre").val() == ""){
          swal.fire("Datos incompletos", "el campo <b>Nombre</b> no puede estar vacio", "info");
          $("#inp_nombre").focus();
      }else if($("#inp_password").val() == ""){
        swal.fire("Datos incompletos", "el campo <b>Contraseña</b> no puede estar vacio", "info");
        $("#inp_password").focus();
      }else if(!$("#check_terminos").is(':checked')){
        swal.fire("Datos incompletos", "Se deben aceptar los terminos y condiciones", "info");
      }else{
        window.location.href = "perfil-usuario.html";
      }
    });
  </script>
</html>
