<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/login-form.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="loginform1">
      <img class="hero-icon" alt="" src="../public/hero@2x.png" />

      <div class="loginform-child"></div>
      <a href="#" id="btn_back"><img class="weuiback-filled-icon4" loading="lazy" alt="" src="../public/back_white.svg"/></a>

      <div class="loginform-inner">
        <div class="bienvenido-a-telemedicina-parent">
          <h1 class="bienvenido-a-telemedicina1">
            ¡Bienvenido a Telemedicina!
          </h1>
          <div class="frame-parent8">
            <div class="frame-wrapper3">
              <div class="crea-una-cuenta-y-disfruta-de-parent">
                <div class="crea-una-cuenta1">
                  Crea una cuenta y disfruta de tus beneficios y de la mejores
                  servicios que tenemos para tí.
                </div>
                <div class="telemedicina-wrapper">
                  <h1 class="telemedicina2">
                    <img src="../public/logo blanco-G.png" alt="Icono" id="logo" style="transform: translateY(-50%);">
                  </h1>
                </div>
              </div>
            </div>
            <div class="registro1">
              <div class="registrate-wrapper">
                <h1 class="registrate1">Registrate</h1>
              </div>

              <div class="input-login">
                <img src="../public/icons/Vector-4.svg" alt="Icono" class="input-icon">
                <input class="inp_inicio" type="text" id="inp_nombre" placeholder="Nombre">
              </div>
              
              <div class="input-login">
                <img src="../public/icons/email-icon.svg" alt="Icono" class="input-icon">
                <input class="inp_inicio" type="text" id="inp_correo" placeholder="Correo">
              </div>

              <div class="input-login">
                <img src="../public/icons/Vector-1.svg" alt="Icono" class="input-icon">
                <input class="inp_inicio" type="password" id="inp_contraseña" placeholder="Contraseña">
              </div>

              <div class="input-login">
                <img src="../public/icons/Vector-1.svg" alt="Icono" class="input-icon">
                <input class="inp_inicio" type="password" id="inp_repeat_contraseña" placeholder="Repetir contraseña">
              </div>

              <div class="frame-parent9" style="width: 100%;">
                <div class="terms-icon-parent">
                  <input class="terms-icon" type="checkbox" id="check_terminos" name="term_condicion"/>
                  <label class="acepto-los-trminos1" for="check_terminos">Acepto los términos y condiciones</label>
                </div>
                <div class="terms-link-wrapper">
                  <div class="terms-link1"></div>
                </div>
              </div>
              <button class="buttonprimary8 title35" id="btn_register">Registrarte</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $("#btn_back").on("click", function(){
        window.location.href = "landing-page.html";
    });

    $("#btn_register").on("click", function(){
      if($("#inp_nombre").val() == ""){
          swal.fire("Datos incompletos", "El campo <b>Nombre</b> no puede estar vacio", "info");
          $("#inp_nombre").focus();
      }else if($("#inp_correo").val() == ""){
        swal.fire("Datos incompletos", "El campo <b>Correo</b> no puede estar vacio", "info");
        $("#inp_correo").focus();
      }else if($("#inp_contraseña").val() == ""){
        swal.fire("Datos incompletos", "El campo <b>Contraseña</b> no puede estar vacio", "info");
        $("#inp_contraseña").focus();
      }else if($("#inp_repeat_contraseña").val() == ""){
        swal.fire("Datos incompletos", "El campo <b>Repetir contraseña</b> no puede estar vacio", "info");
        $("#inp_repeat_contraseña").focus();
      }else if(!$("#check_terminos").is(':checked')){
        swal.fire("Datos incompletos", "Se deben aceptar los terminos y condiciones", "info");
      }else{
        if ($("#inp_contraseña").val() != $("#inp_repeat_contraseña").val()) {
          swal.fire("Contraseña no coinciden", "Las contraseñas deben coincidir", "info");
        }else{
          window.location.href = "perfil-usuario.html";
        }
      }
    });
  </script>
</html>
