<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/perfil-usuario.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.min.js"></script>
  </head>
  <body>
    <div class="perfilusuario1">
      <section class="main">
        <div class="sidebar5">
          <div class="sidebar-child">
            <div class="frame-parent14">
              <div class="vector-wrapper9">
                <img
                  class="vector-icon25"
                  loading="lazy"
                  alt=""
                  src="../public/vector-4.png"
                />
              </div>
              <div class="user-profile1">
                <h1 class="maria-perez7">Maria Perez</h1>
                <div class="plan-info">
                  <div class="plan-premium5">Plan/ Premium</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <div class="contensidebar5">
              <div class="credentials-parent option_menu" id="btn_perfil">
                <div class="credentials1">
                  <img
                    class="credentials-icons1"
                    loading="lazy"
                    alt=""
                    src="../public/icons/Vector-4.svg"
                  />

                  <div class="credential-labels">
                    <div class="mis-credenciales5">Mi perfil</div>
                  </div>
                </div>
                <div class="menu-dividers"></div>
              </div>
              <div class="affiliated4 option_menu">
                <div class="affiliated-info1 credentials1">
                  <img
                    class="navigation-icon"
                    alt=""
                    src="../public/icons/Vector-perfil.svg"
                  />
                  <div class="familiar-afiliado5">Familiar afiliado</div>
                </div>
                <div class="affiliated-divider"></div>
              </div>
              <div class="frame-parent15 option_menu">
                <div class="buttons-parent credentials1">
                  <img
                    class="buttons-icon"
                    alt=""
                    src="../public/icons/Vector-perfil-1.svg"
                  />

                  <div class="frame-input">Mi Facturacion</div>
                </div>
                <div class="plus"></div>
              </div>
              <div class="frame-parent16 option_menu">
                <div class="divider-parent credentials1">
                  <img
                    class="divider-icon"
                    alt=""
                    src="../public/icons/Vector-perfil-2.svg"
                  />

                  <div class="dar-de-baja-wrapper3">
                    <div class="dar-de-baja5">Dar de baja</div>
                  </div>
                </div>
                <div class="rectangle-div"></div>
              </div>
            </div>
          </div>
          <div class="contact2">
            <div class="contact-info4">
              <div class="contact-title">
                <div class="contactanos5">Contactanos</div>
                <div class="actions-wrapper">
                  <img
                    class="actions-icon"
                    loading="lazy"
                    alt=""
                    src="../public/icons/Vector-8.svg"
                  />
                </div>
              </div>
              <div class="direccin-123-calle-container7">
                <p class="direccin7">Dirección:</p>
                <p class="calle-principal-ciudad7">
                  123 Calle Principal, Ciudad, País
                </p>
              </div>
              <div class="correo-electronico-contactot7">
                Correo electronico: contacto@tuempresa.com
              </div>
              <div class="nmero-de-telfono-container7">
                <p class="nmero-de-telfono7">Número de teléfono:</p>
                <p class="p8">+123045607890</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content6">
          <div class="welcome">
            <h2 class="hola-te-damos1">¡Hola! Te damos la bienvenida</h2>
            <div class="content-body">
              <div class="news-parent">
                <div class="news3">
                  <div class="novedades1">
                    <h2 class="novedades-para-t1">Novedades para tí</h2>
                    <div class="lorem-ipsum-dolor3">
                      Lorem ipsum dolor sit amet consectetur. Velit egestas eu
                      nam sed risus vel at urna tellus. Quis arcu feugiat odio
                      morbi pharetra
                    </div>
                    <div class="buttonprimary12">
                      <div class="title66">Ver</div>
                    </div>
                  </div>
                </div>
                <img
                  class="superscript"
                  loading="lazy"
                  alt=""
                  style="left: -4%;"
                  src="../public/Vector-3.png"
                />
              </div>
            </div>
            <div class="actions">
              <div class="mis-gestiones2">
                <h2 class="mis-gestiones3">Mis Gestiones</h2>
                <div class="mis-gestiones-inner btns-gestion" id="btn_turnos">
                  <div class="iit-parent">
                    <img
                      class="iit-icon"
                      loading="lazy"
                      alt=""
                      src="../public/Vector-gestion-3.svg"
                    />

                    <h2 class="turnos3">Turnos</h2>
                  </div>
                </div>
                <div class="blogs btns-gestion">
                  <img
                    class="vector-icon26"
                    loading="lazy"
                    alt=""
                    src="../public/Vector-gestion-5.svg"
                  />

                  <div class="estudios-container">
                    <h2 class="estudios1">Estudios</h2>
                  </div>
                </div>
                <div class="mis-gestiones-child btns-gestion">
                  <div class="vector-parent10">
                    <img
                      class="vector-icon27"
                      loading="lazy"
                      alt=""
                      src="../public/Vector-gestion-4.svg"
                    />

                    <h2 class="recetas1">Recetas</h2>
                  </div>
                </div>
                <div class="jobsopened-wrapper btns-gestion">
                  <div class="jobsopened">
                    <img
                      class="vector-icon28"
                      loading="lazy"
                      alt=""
                      src="../public/Vector-gestiones.svg"
                    />

                    <h2 class="farmacias1">Farmacias</h2>
                  </div>
                </div>
                <div class="icoutline-domain-add-group btns-gestion">
                  <img
                    class="icoutline-domain-add-icon1"
                    loading="lazy"
                    alt=""
                    src="../public/Vector-gestiones-1.svg"
                  />

                  <h2 class="agencias1">Agencias</h2>
                </div>
                <div class="mis-gestiones-inner1 btns-gestion">
                  <div class="vector-parent11">
                    <img
                      class="vector-icon29"
                      loading="lazy"
                      alt=""
                      src="../public/Vector-gestiones-2.svg"
                    />

                    <h2 class="tramites1">Tramites</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="appointment">
        <div class="appointment-content">
          <div class="appointment-header">
            <img
              class="header-icons"
              loading="lazy"
              alt=""
              src="../public/Vector.png"
            />

            <img
              class="header-icons1"
              loading="lazy"
              alt=""
              src="../public/Vector-1.png"
            />

            <img
              class="header-icons2"
              loading="lazy"
              alt=""
              src="../public/Vector-2.png"
            />
          </div>
          <div class="appointment-details4">
            <div class="appointment-title">
              <h2 class="proximo-turno2">Proximo Turno</h2>
              <div class="calendario2">
                <img class="actions-icon1" loading="lazy" alt="" src="../public/Vector-11.svg"/>
                <div id="calendario"></div>

                <div class="mayo2">Mayo</div>
                <div class="calendar-grid">
                  <div class="calendar-days2">
                    <nav class="weekdays1">
                      <div class="lun2">Lun.</div>
                      <div class="mar2">Mar</div>
                      <div class="mie2">Mie.</div>
                      <div class="jue2">Jue</div>
                      <div class="vie2">Vie</div>
                      <div class="sb2">Sáb.</div>
                      <div class="dom2">Dom.</div>
                    </nav>
                    <div class="calendar-weeks">
                      <div class="parent9">
                        <div class="div43">1</div>
                        <div class="div44">2</div>
                        <div class="div45">3</div>
                        <div class="div46">4</div>
                        <div class="div47">5</div>
                        <div class="div48">6</div>
                        <div class="div49">7</div>
                      </div>
                    </div>
                  </div>
                  <div class="calendar-grid-inner">
                    <div class="frame-parent17">
                      <div class="frame-parent18">
                        <div class="frame-parent19">
                          <div class="frame-wrapper5">
                            <div class="last-week-days-parent">
                              <div class="last-week-days">8</div>
                              <div class="last-week-days1">9</div>
                              <div class="last-week-days2">10</div>
                            </div>
                          </div>
                          <div class="appointment-day">
                            <div class="appointment-info5">
                              <div class="appointment-times">
                                <div class="div50">15</div>
                                <div class="div51">16</div>
                              </div>
                              <div class="appointment-times1">
                                <div class="div52">22</div>
                                <div class="div53">23</div>
                              </div>
                              <div class="appointment-times2">
                                <div class="div54">29</div>
                                <div class="div55">30</div>
                              </div>
                            </div>
                            <div class="day-label">
                              <div class="day-number">17</div>
                              <div class="appointment-indicator">
                                <div class="indicator-position">
                                  <div class="indicator-offset">24</div>
                                  <div class="appointment-dot">
                                    <div class="dot"></div>
                                  </div>
                                </div>
                                <div class="next-day-label">
                                  <div class="next-day-number">31</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="remaining-weeks">
                          <div class="remaining-weeks-inner">
                            <div class="parent10">
                              <div class="div56">11</div>
                              <div class="div57">12</div>
                            </div>
                          </div>
                          <div class="remaining-weeks-child">
                            <div class="parent11">
                              <div class="div58">18</div>
                              <div class="div59">19</div>
                            </div>
                          </div>
                          <div class="remaining-weeks-inner1">
                            <div class="parent12">
                              <div class="div60">25</div>
                              <div class="div61">26</div>
                            </div>
                          </div>
                          <div class="partial-week-days-parent">
                            <div class="partial-week-days">1</div>
                            <div class="partial-week-days1">2</div>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent20">
                        <div class="frame-parent21">
                          <div class="frame-wrapper6">
                            <div class="calendar-day-parent">
                              <div class="calendar-day">13</div>
                              <div class="calendar-day1">14</div>
                            </div>
                          </div>
                          <div class="calendar-day2">
                            <div class="calendar-day3">20</div>
                            <div class="calendar-day4">21</div>
                          </div>
                        </div>
                        <div class="calendar-day5">
                          <div class="calendar-day6">27</div>
                          <div class="calendar-day7">28</div>
                        </div>
                        <div class="calendar-day8">
                          <div class="calendar-day9">
                            <div class="calendar-day10">3</div>
                            <div class="calendar-day11">4</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="appointments-view">
                <div class="sidebar6">
                  <div class="view-more-button">
                    <div class="div62">24/04/2024</div>
                  </div>
                  <button class="view-more-button1">
                    <div class="ver2">Ver</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="video-call-button-container">
            <div class="video-call-button2">
              <h2 class="iniciar-viedeollama2">Iniciar viedeollama</h2>
              <div class="video-call-preview">
                <div class="videollamada3">
                  <div class="franchise">
                    <div class="doctor-icon-parent">
                      <img
                        class="doctor-icon3"
                        loading="lazy"
                        alt=""
                        src="../public/vector-141@2x.png"
                      />

                      <h2 class="dr-maria-p-container5">
                        <p class="dr-maria-p5">Dr. Maria P</p>
                        <p class="pediatria5">Pediatria</p>
                      </h2>
                      <img
                        class="doctor-specialty-icon1"
                        loading="lazy"
                        alt=""
                        src="../public/Vector-10.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#btn_turnos").on("click", function(){
        window.location.href = "gestion-de-turnos.html";
      });

      $("#btn_perfil").on("click", function () {
        window.location.href = "mi-perfil-l-g.html";
      })
    </script>
  </body>
</html>
